/*fonts and color reference*/

.parallax{
	height: 750px;
	border-style: dotted;
}

/*Navbar*/

/*footer*/
.footer{
	height: 200px;
	background-color: violet;

}
/*home*/
.carousel {
	width: 100%;
}
img {
	width: 100%;
}
/*booking*/
.booking{
	height: 350px;
	background-color: orange;
}


/*intro*/
.intro{
	background-color: yellow;
}

/*categories*/
.categories{
	height: 400px;
	background-color: green
}

/*location*/
.location{
	background-color: blue;
}

/*Social Media*/
.socialMedia{
	height: 350px;
	background-color: indigo;
}